# Vectors

In [1]:
vec1<-c(10,9,8)
vec1

[1] 10  9  8

In [2]:
name_vector<-c('ram','shyam','gopal')
name_vector

[1] "ram"   "shyam" "gopal"

In [3]:
#operations in vectors
multi<-vec1*vec1
add<-vec1+vec1
print(multi)
print(add)

[1] 100  81  64
[1] 20 18 16

# Matrix

In [4]:
bitcoin=c(10000,11500,16000,19400,9700)
eth=c(190,280,390,660,520)

In [5]:
#create a matrix by defining no of rows and columns 
crypto_matrix<-matrix(c(bitcoin,eth),nrow=5)
colnames(crypto_matrix)<-c('bitcoin','eth')
rownames(crypto_matrix)<-c('jan','feb','march','april','may')
crypto_matrix

      bitcoin eth
jan     10000 190
feb     11500 280
march   16000 390
april   19400 660
may      9700 520

In [6]:
#addition of row and column to the matrix by using rbind and cbind
newcol=c(40,70,50,50,50)
Ltc<-newcol
newrow=c(8500,400,50)
june<-newrow
crypto_matrix<-cbind(crypto_matrix,Ltc)
crypto_matrix<-rbind(crypto_matrix,june) 
crypto_matrix

      bitcoin eth Ltc
jan     10000 190  40
feb     11500 280  70
march   16000 390  50
april   19400 660  50
may      9700 520  50
june     8500 400  50

In [7]:
#Factorization and levels of matrix or dataframe
print(factor(crypto_matrix[,3]))  #Unique values

  jan   feb march april   may  june
   40    70    50    50    50    50
Levels: 40 50 70

In [8]:
ltc_fatctors=factor(crypto_matrix[,3],levels = c(40,50,70),ordered = T)
print(ltc_fatctors)

  jan   feb march april   may  june
   40    70    50    50    50    50
Levels: 40 < 50 < 70

In [9]:
temprature<-c('cold','mid','cold','hot','hot','cold')
temp.fact<-factor(temprature,levels = c('cold','mid','hot'),ordered = T) #here we  provide the order level of factors
print(temp.fact)  #we can set who is greater

[1] cold mid  cold hot  hot  cold
Levels: cold < mid < hot

# DataFrame

In [10]:
df=data.frame(bitcoin,eth,Ltc)   #used the previous data

In [11]:
df

  bitcoin eth Ltc
1   10000 190  40
2   11500 280  70
3   16000 390  50
4   19400 660  50
5    9700 520  50

In [12]:
#4ways of grabbing eth column
df[,2]
df[,'eth']
df[['eth']]
df[[2]]

[1] 190 280 390 660 520

[1] 190 280 390 660 520

[1] 190 280 390 660 520

[1] 190 280 390 660 520

In [13]:
#to slice all columns except eth column, same applicable for rows
df[,-2]

  bitcoin Ltc
1   10000  40
2   11500  70
3   16000  50
4   19400  50
5    9700  50

# Logical_Operators_And_Loops

In [14]:
x<-10
x==10 & x<11      #And
x==8 | x<11       #Or
x !=11

[1] TRUE

[1] TRUE

[1] TRUE

In [15]:
#If_else_loop
x<-14
if (x==10){
    print('value of x is 10')
}else if(x==13){
    print('value of x 13')
}else{
    print('value of x is neither 10 or 13')
}

[1] "value of x is neither 10 or 13"

In [16]:
#while_loop 
x=10
y=1
while (y<10){
    y=y+1
    print(y)
}

[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [17]:
#for_Loop
x<-10
for(i in 1:10){
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [18]:
#Function
summation<-function(a,b){
    return(a+b)
}
summation(10,15)

[1] 25

# Built_in_R_features

In [20]:
seq(0,20,4)   #range(0,20,4)

[1]  0  4  8 12 16 20

In [23]:
c=c()
c=append(c,10)
c
c=append(c,20)
c

[1] 10

[1] 10 20