control+l   to clear console

# Vectors

In [1]:
vec1<-c(10,9,8)
vec1

[1] 10  9  8

In [2]:
name_vector<-c('ram','shyam','gopal')
name_vector

[1] "ram"   "shyam" "gopal"

In [3]:
#operations in vectors
multi<-vec1*vec1
add<-vec1+vec1
print(multi)
print(add)

[1] 100  81  64
[1] 20 18 16

# Matrix

In [4]:
bitcoin=c(10000,11500,16000,19400,9700)
eth=c(190,280,390,660,520)

In [5]:
#create a matrix by defining no of rows and columns 
crypto_matrix<-matrix(c(bitcoin,eth),nrow=5)
colnames(crypto_matrix)<-c('bitcoin','eth')
rownames(crypto_matrix)<-c('jan','feb','march','april','may')
crypto_matrix

      bitcoin eth
jan     10000 190
feb     11500 280
march   16000 390
april   19400 660
may      9700 520

In [6]:
#addition of row and column to the matrix by using rbind and cbind
newcol=c(40,70,50,50,50)
Ltc<-newcol
newrow=c(8500,400,50)
june<-newrow
crypto_matrix<-cbind(crypto_matrix,Ltc)
crypto_matrix<-rbind(crypto_matrix,june) 
crypto_matrix

      bitcoin eth Ltc
jan     10000 190  40
feb     11500 280  70
march   16000 390  50
april   19400 660  50
may      9700 520  50
june     8500 400  50

In [7]:
#Factorization and levels of matrix or dataframe
print(factor(crypto_matrix[,3]))  #Unique values

  jan   feb march april   may  june
   40    70    50    50    50    50
Levels: 40 50 70

In [8]:
ltc_fatctors=factor(crypto_matrix[,3],levels = c(40,50,70),ordered = T)
print(ltc_fatctors)

  jan   feb march april   may  june
   40    70    50    50    50    50
Levels: 40 < 50 < 70

In [9]:
temprature<-c('cold','mid','cold','hot','hot','cold')
temp.fact<-factor(temprature,levels = c('cold','mid','hot'),ordered = T) #here we  provide the order level of factors
print(temp.fact)  #we can set who is greater

[1] cold mid  cold hot  hot  cold
Levels: cold < mid < hot

# DataFrame

In [10]:
df=data.frame(bitcoin,eth,Ltc)   #used the previous data

In [11]:
df

  bitcoin eth Ltc
1   10000 190  40
2   11500 280  70
3   16000 390  50
4   19400 660  50
5    9700 520  50

In [12]:
#4ways of grabbing eth column
df[,2]
df[,'eth']
df[['eth']]
df[[2]]

[1] 190 280 390 660 520

[1] 190 280 390 660 520

[1] 190 280 390 660 520

[1] 190 280 390 660 520

In [13]:
#to slice all columns except eth column, same applicable for rows
df[,-2]

  bitcoin Ltc
1   10000  40
2   11500  70
3   16000  50
4   19400  50
5    9700  50

# Logical_Operators_And_Loops

In [14]:
x<-10
x==10 & x<11      #And
x==8 | x<11       #Or
x !=11

[1] TRUE

[1] TRUE

[1] TRUE

In [15]:
#If_else_loop
x<-14
if (x==10){
    print('value of x is 10')
}else if(x==13){
    print('value of x 13')
}else{
    print('value of x is neither 10 or 13')
}

[1] "value of x is neither 10 or 13"

In [16]:
#while_loop 
x=10
y=1
while (y<10){
    y=y+1
    print(y)
}

[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [15]:
#for_Loop
x<-10
for(i in 1:6){
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6

In [18]:
#Function
summation<-function(a,b){
    return(a+b)
}
summation(10,15)

[1] 25

# Built_in_R_features

In [20]:
seq(0,20,4)   #range(0,20,4)

[1]  0  4  8 12 16 20

In [23]:
c=c()
c=append(c,10)
c
c=append(c,20)
c

[1] 10

[1] 10 20

# dplyr

In [1]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa
4          4.6         3.1          1.5         0.2  setosa
5          5.0         3.6          1.4         0.2  setosa
6          5.4         3.9          1.7         0.4  setosa

In [5]:
#filter-To filter specific columns with some value threshold
dplyr::filter(iris,iris$Sepal.Length>5,iris$Sepal.Width>4)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.7         4.4          1.5         0.4  setosa
2          5.2         4.1          1.5         0.1  setosa
3          5.5         4.2          1.4         0.2  setosa

In [10]:
#select- to select specifc columns in df
head(dplyr::select(iris,Sepal.Length,Petal.Length))

  Sepal.Length Petal.Length
1          5.1          1.4
2          4.9          1.4
3          4.7          1.3
4          4.6          1.5
5          5.0          1.4
6          5.4          1.7

In [13]:
#arrange -  arrange values in column either ascending or descending order
head(dplyr::arrange(iris,Sepal.Length))  #incresing order

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          4.3         3.0          1.1         0.1  setosa
2          4.4         2.9          1.4         0.2  setosa
3          4.4         3.0          1.3         0.2  setosa
4          4.4         3.2          1.3         0.2  setosa
5          4.5         2.3          1.3         0.3  setosa
6          4.6         3.1          1.5         0.2  setosa

In [14]:
head(dplyr::arrange(iris,desc(Sepal.Length)))    #decreasing order

  Sepal.Length Sepal.Width Petal.Length Petal.Width   Species
1          7.9         3.8          6.4         2.0 virginica
2          7.7         3.8          6.7         2.2 virginica
3          7.7         2.6          6.9         2.3 virginica
4          7.7         2.8          6.7         2.0 virginica
5          7.7         3.0          6.1         2.3 virginica
6          7.6         3.0          6.6         2.1 virginica

In [19]:
#distinct - return unique values of dataframe
dplyr::distinct(data.frame(iris$Species))
dplyr::distinct(dplyr::select(iris,Species))       #both same out_put

  iris.Species
1       setosa
2   versicolor
3    virginica

     Species
1     setosa
2 versicolor
3  virginica

In [23]:
#Mutate - creat new column by doing mathmatical operation between two column
head(dplyr::mutate(iris,petal_length_width=iris$Petal.Length+iris$Petal.Width))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species petal_length_width
1          5.1         3.5          1.4         0.2  setosa                1.6
2          4.9         3.0          1.4         0.2  setosa                1.6
3          4.7         3.2          1.3         0.2  setosa                1.5
4          4.6         3.1          1.5         0.2  setosa                1.7
5          5.0         3.6          1.4         0.2  setosa                1.6
6          5.4         3.9          1.7         0.4  setosa                2.1

In [22]:
head(transmute(iris,petal_length_width=iris$Petal.Length+iris$Petal.Width))  #will show only newly created column

  petal_length_width
1                1.6
2                1.6
3                1.5
4                1.7
5                1.6
6                2.1

# pipe-operator

In [35]:
df=iris
a<-dplyr::filter(df,df$Sepal.Length>5)
b<-dplyr::sample_n(a,10)
c<-dplyr::arrange(b,Sepal.Width)
print(c)

   Sepal.Length Sepal.Width Petal.Length Petal.Width    Species
1           6.3         2.3          4.4         1.3 versicolor
2           5.8         2.7          3.9         1.2 versicolor
3           6.3         2.8          5.1         1.5  virginica
4           5.4         3.0          4.5         1.5 versicolor
5           6.8         3.2          5.9         2.3  virginica
6           6.2         3.4          5.4         2.3  virginica
7           5.2         3.5          1.5         0.2     setosa
8           5.4         3.7          1.5         0.2     setosa
9           5.4         3.9          1.3         0.4     setosa
10          5.8         4.0          1.2         0.2     setosa

In [43]:
#result published can be done in 1 line using pipe operatior with out using more memories
result<- df %>% filter(df$Sepal.Length>5)%>% sample_n(10) %>% arrange(Petal.Width)
print(result)

   Sepal.Length Sepal.Width Petal.Length Petal.Width    Species
1           5.2         4.1          1.5         0.1     setosa
2           5.1         3.4          1.5         0.2     setosa
3           5.5         2.4          3.7         1.0 versicolor
4           6.1         2.6          5.6         1.4  virginica
5           6.2         2.8          4.8         1.8  virginica
6           7.3         2.9          6.3         1.8  virginica
7           5.8         2.7          5.1         1.9  virginica
8           7.4         2.8          6.1         1.9  virginica
9           5.7         2.5          5.0         2.0  virginica
10          7.2         3.6          6.1         2.5  virginica

In [ ]:
gather spread separate unite

In [45]:
library(tidyr)

In [60]:
df<- iris[1:6,1:3]
colnames(df)<-c('length','width','plength')
df

  length width plength
1    5.1   3.5     1.4
2    4.9   3.0     1.4
3    4.7   3.2     1.3
4    4.6   3.1     1.5
5    5.0   3.6     1.4
6    5.4   3.9     1.7

In [61]:
#gather-  convert the colname into row helps in comparative analysis
df_gather<-tidyr::gather(df,parameter,incm,length,width)   #gather(data,new_colname_1,new_colname_2,columns)
df_gather

   plength parameter incm
1      1.4    length  5.1
2      1.4    length  4.9
3      1.3    length  4.7
4      1.5    length  4.6
5      1.4    length  5.0
6      1.7    length  5.4
7      1.4     width  3.5
8      1.4     width  3.0
9      1.3     width  3.2
10     1.5     width  3.1
11     1.4     width  3.6
12     1.7     width  3.9

In [62]:
#spread - opposite of gather
df_spread<-tidyr::spread(df_gather,parameter,incm)
df_spread

ERROR: Error: Duplicate identifiers for rows (1, 2, 5), (7, 8, 11)

   length width
1     5.1    NA
2     4.9    NA
3     4.7    NA
4     4.6    NA
5     5.0    NA
6     5.4    NA
7      NA   3.5
8      NA   3.0
9      NA   3.2
10     NA   3.1
11     NA   3.6
12     NA   3.9

In [67]:
#separate - separate a column on the basis of regular expression
df<-data.frame(dt=c('a-3','b-5','h-8'))

In [68]:
df

   dt
1 a-3
2 b-5
3 h-8

In [ ]:
tidyr::separate(df,dt,into=c('letter','number'))

In [70]:
help('separate')

separate                 package:tidyr                 R Documentation

_S_e_p_a_r_a_t_e _o_n_e _c_o_l_u_m_n _i_n_t_o _m_u_l_t_i_p_l_e _c_o_l_u_m_n_s.

_D_e_s_c_r_i_p_t_i_o_n:

     Given either regular expression or a vector of character
     positions, ‘separate()’ turns a single character column into
     multiple columns.

_U_s_a_g_e:

     separate(data, col, into, sep = "[^[:alnum:]]+", remove = TRUE,
       convert = FALSE, extra = "warn", fill = "warn", ...)

_A_r_g_u_m_e_n_t_s:

    data: A data frame.

     col: Bare column name.

    into: Names of new variables to create as character vector.

     sep: Separator between columns.

          If character, is interpreted as a regular expression. The
          default value is a regular expression that matches any
          sequence of non-alphanumeric values.

          If numeric, interpreted as positions to split at. Positive
          values start at 1 at the far-left of the string; negative
          value start at -1 at the far-right of the string. The length
          of ‘sep’ should be one less than ‘into’.

  remove: If ‘TRUE’, remove input column from output data frame.

 convert: If ‘TRUE’, will run ‘type.convert’ with ‘as.is = TRUE’ on new
          columns. This is useful if the component columns are integer,
          numeric or logical.

   extra: If ‘sep’ is a character vector, this controls what happens
          when there are too many pieces. There are three valid
          options:

            • "warn" (the default): emit a waring and drop extra
              values.

            • "drop": drop any extra values without a warning.

            • "merge": only splits at most ‘length(into)’ times

    fill: If ‘sep’ is a character vector, this controls what happens
          when there are not enough pieces. There are three valid
          options:

            • "warn" (the default): emit a waring and fill from the
              right

            • "right": fill with missing values on the right

            • "left": fill with missing values on the left

     ...: Other arguments passed on to ‘strsplit’ to control how the
          regular expression is processed.

_E_x_a_m_p_l_e_s:

     library(dplyr)
     df <- data.frame(x = c(NA, "a.b", "a.d", "b.c"))
     df %>% separate(x, c("A", "B"))

     # If every row doesn't split into the same number of pieces, use
     # the extra and file arguments to control what happens
     df <- data.frame(x = c("a", "a b", "a b c", NA))
     df %>% separate(x, c("a", "b"))
     # The same behaviour but no warnings
     df %>% separate(x, c("a", "b"), extra = "drop", fill = "right")
     # Another option:
     df %>% separate(x, c("a", "b"), extra = "merge", fill = "left")

     # If only want to split specified number of times use extra = "merge"
     df <- data.frame(x = c("x: 123", "y: error: 7"))
     df %>% separate(x, c("key", "value"), ": ", extra = "merge")